<div data-role="view" data-title="Photo Details" data-show="PhotoDetail.show" data-hide="PhotoDetail.hide" data-layout="back-layout" data-reload="true" data-transition="fade">
    <div id="photoContent">
        <div class="title" data-bind="text: title"></div>
        <div class="title" data-bind="text: descriptions"></div>
        <div class="bigImage">
            <img data-bind="attr: { src: image_url }" />
        </div>
        <div>
            <label for="favorite">Favorite?</label>
            <input id="favorite" type="checkbox" data-role="switch" data-change="onChange"/>
        </div>
        <div>
            <p><a data-role="button" data-click="PhotoDetail.openLink">Page in Flickr</a></p>
        </div>
    </div>
</div>
<script>
function onChange(e) {
  var p=window.PhotoDetail.cphoto();
  window.MyFavorites.add(p,e.checked);
}
</script>