<div data-role="view" data-title="Diary Details" data-show="DiaryDetail.show" data-hide="DiaryDetail.hide" data-layout="back-layout" data-reload="true" data-transition="fade">
    <div id="diaryContent">
        <div align="center" class="title" data-bind="text: name"></div>
<!--         <div align="center" class="title" data-bind="text: author"></div> -->
        <div align="center" class="title">
        	<textarea id="dianotes" style="background-color: rgb(178, 178, 178)" rows=10 cols=30 data-bind="text: author"></textarea>    
        </div>
        <div align="center" class="bigImage">
            <img data-bind="attr: { src: image_url }" />
        </div>
        <div align="left">
            <button>
                <button type="button" class="btn btn-info btn-lg" onclick="DiaryDetail.save()">Save</button>
            </button>
        </div>
        <div align="right">
            <button>
                <button type="button" class="btn btn-info btn-lg" onclick="DiaryDetail.share()">Share</button>
            </button>
        </div>
    </div>
</div>