<div data-role="view" data-title="Search photo" >
    <div id="searchContent">
        <div align="center">
            <p>
                <label for="kwords">Search photo tags</label>
                <input id="kwords" type="text" >
            </p>
            <p>
                <label for="page">Jump to page</label>
                <input id="page" type="text" >
            </p>
        </div>
    </div>
    <div align="center">
        <p>
            <button data-click="Photos.search" align="right" data-role="button">Search</button>
        </p>
    </div>
</div>